/* Import font */

@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Poppins&family=Roboto:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 16px;
  padding: 20px 32px;
  width: 500px;
}

.container :is(h1, h2) {
  text-align: center;
}

h1 {
  margin-bottom: 16px;
}

h2 {
  font-size: 100px;
}

p{  margin: 16px 0px;
    text-align: center;
    font-size: 16x;
    font-weight: 600;
}

.joke-container h4{
  display: inline;
}



/* Buttons */
.buttons {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

button{
    border: none;
    outline: none;
    height: 60px;
    width: 60px;
    padding: 8px 16px;
    border-radius: 50%;
    cursor: pointer;
    transition: all .4s ease;
}

button:hover{
    background-color: #fbd786;
}

.buttons button i{
    font-size: 32px;
}

.copied{
    position: relative;
}


.copied-text{
    position: absolute;
    display: none;
    top: 40%;
    left: 20%;
      
}

