@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

:root {
  --container-width: 500px;
  --bg-color: #070f4e;
  --second-color: #0078d0;
  --main-container-color: #fff;
  --box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  --main-size-8: 0.5em;
  --main-size-16: 1em;
  --main-size-20: 1.25em;
  --w-100: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--bg-color);
  font-family: "Playfair Display", serif;
}

.container {
  position: relative;
  background: var(--main-container-color);
  width: var(--container-width);
  border: 1px solid #f07575;
  border-radius: 16px;
  box-shadow: var(--box-shadow);
  padding: var(--main-size-16), var(--main-size-20);
}

.container :where(h1, h3) {
  text-align: center;
  margin-bottom: var(--main-size-8);
}

input[type="date"] {
  width: var(--w-100);
  border-radius: var(--main-size-16);
  outline: none;
  border: 1px solid var(--second-color);
  padding: calc(var(--main-size-16) / 2);
  font-size: var(--main-size-16);
  margin-bottom: var(--main-size-8);
}

.container button {
  background-color: var(--second-color);
  border: 0;
  border-radius: 56px;
  color: #fff;
  cursor: pointer;
  display: block;
  font-family: system-ui, -apple-system, system-ui, "Segoe UI", Roboto, Ubuntu,
    "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-weight: 600;
  outline: 0;
  padding: var(--main-size-8);
  position: relative;
  text-decoration: none;
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: var(--main-size-16) auto;
}

.birtday-time-button:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 50%;
  left: 4%;
  opacity: 0.5;
  position: absolute;
  top: 0;
  transition: all 0.3s;
  width: 92%;
}

.birtday-time-button:hover {
  box-shadow: rgba(255, 255, 255, 0.2) 0 3px 15px inset,
    rgba(0, 0, 0, 0.1) 0 3px 5px, rgba(0, 0, 0, 0.1) 0 10px 13px;
  transform: scale(1.05);
}

/* Grid  */

/* Add active */
.container .time-left.active {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: var(--main-size-8);
  padding: var(--main-size-16);
  transition: all 0.3s;
}

.container .time-left {
  display: none;
}

.time-left li {
  text-align: center;
  background-color: var(--second-color);
  padding: calc(var(--main-size-16));
  border: 1px solid #ccc;
}

.time-left span {
  font-weight: bold;
}

.message {
  position: absolute;
  background-color: var(--main-container-color);
  padding: var(--main-size-16);
  border: 1px solid;
  box-shadow: rgba(255, 255, 255, 0.2) 0 3px 15px inset,
    rgba(0, 0, 0, 0.1) 0 3px 5px, rgba(0, 0, 0, 0.1) 0 10px 13px;
  border-radius: var(--main-size-8);
  width: 250px;
  text-align: center;
  display: none;
}
