* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Start Button style */
.container .start_btn {
  font-size: 25px;
  font-weight: 500;
  color: #c850c0;
  padding: 15px 30px;
  outline: none;
  border: none;
  border-radius: 5px;
  background: #fff;
  cursor: pointer;
  transition: all 0.5s;
}

.container .start_btn:hover {
  background: #2c2b2b;
  color: white;
}
