/* Reset Css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Add animation */
.roll-in-left {
  -webkit-animation: roll-in-left 0.9s ease-out both;
  animation: roll-in-left 0.9s ease-out both;
}

@-webkit-keyframes roll-in-left {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
    transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
@keyframes roll-in-left {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
    transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}

body {
  background: linear-gradient(
    90deg,
    rgb(104, 103, 115) 0%,
    rgb(121, 13, 9) 35%,
    rgb(208, 255, 0) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background: #fff;
  border-radius: 10px;
  padding: 20px 30px;
  width: auto;
  position: relative;
  transition: all 0.3s;
}

h1 {
  text-align: center;
  margin-bottom: 12px;
  color: red;
}

.input-boxes {
  display: flex;
  justify-content: space-evenly;
  gap: 8px;
}

.input-boxes :where(p) {
  color: red;
  margin-bottom: 12px;
  text-align: center;
  font-size: 24px;
}

.input-boxes :where(input) {
  min-height: 40px;
  width: 120px;
  outline: none;
  border: 2px solid red;
  padding: 12px;
  background-color: #f7f7f7;
  border-radius: 2px;
  color: red;
  font-size: 17px;
}

button {
  border-radius: 10px;
  text-align: center;
  padding: 14px 21px;
  background-color: red;
  border: none;
  display: block;
  margin: 16px auto;
  color: #fff;
  cursor: pointer;
}

.result {
  text-align: center;
  font-size: 28px;
}

i {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
